<div class="gallery">
        <div class="image-gallery">
            {{#each gallery}}
            <div class="gallery">
                <img src="{{imgUrl}}" alt="gallery">
            </div>
            {{/each}}
        </div>
</div>