<section class="hero-panel">
            <h1>Espresso americano</h1>
            <picture>
                <source srcset="https://placehold.co/1024X640" media="min-width:1024px"/>
                <img src="../public/cabecera.jpg" alt="Cabecera Principal"/>
            </picture>
</section>